body {
  background-image: url("https://img.olympics.com/images/image/private/t_16-9_1920/f_auto/primary/ddjnxg4u0pxt4jbqwrym") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  margin: 0;
  font-family: Arial, sans-serif;
}
